#reportsContainer > section {
	font-family: 'Roboto', sans-serif;
}

#reportsTable {
	font-size: 0.8rem;
	font-family: 'Roboto', sans-serif;
}

#reportsSection {
	max-height: 30rem;
}

.reports-filter {
	font-family: 'Roboto', sans-serif;
}
.reports-filter input,
.reports-filter select {
	font-size: 0.7rem;
}
